body {
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: beige;
    padding-left: 170px;
    padding-right: 0px;
    text-align: center;
    width: fit-content
  }

.header{
    padding: 10px;
    text-align: center;
    background-color: #ddddd0;
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    margin-right: 0px;
    width: 100%
}


.sidenav {
    height: 100%; 
    width: 170px;
    position: fixed; 
    z-index: 1; 
    top: 0px; 
    left: 0;
    background-color: #ddddd0; 
    overflow-x: hidden; 
    margin-top: 0px;
    padding-top: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 2px solid gray
  }

  
  .sidenav a {
    padding: 2px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #01665e;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #ef8a62;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px
  }
  .left {
    flex: 70%;
  }
  
  .right {
    flex: 30%;
    padding-top: 250px;
    color: #ef8a62;
    font-size: 25px;
  }
  
  .over{
    text-align: center
  }
  .under{
    text-align: center
  }

#weather{
    background-color: beige;
    margin-top: 150px
}
#textcolorweather{
  color: beige;
  font-weight: bold;
  font-size: 30px
}
#buttonweather{
  font-family: 'Courier New', Courier, monospace; 
  color: darkslategray;
  font-size: 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: beige;
  font-weight: bold
}

#population{
    background-color: beige;
    margin-top: 150px
}
#textcolorpopulation{
  color: beige;
  font-weight: bold;
  font-size: 30px
}
#buttonpopulation{
  font-family: 'Courier New', Courier, monospace; 
  color: darkslategray;
  font-size: 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: beige;
  font-weight: bold
}

#markettrend{
    background-color: beige;
    margin-top: 150px;
    padding-left: 20px
}
#textcolorrestaurant{
  color: beige;
  font-weight: bold;
  font-size: 30px
}
#buttonrestaurant{
  font-family: 'Courier New', Courier, monospace; 
  color: darkslategray;
  font-size: 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: beige;
  font-weight: bold
}

#restaurantmap{
    background-color: beige;
    margin-top: 150px
}
#textcolormap{
  color: beige;
  font-weight: bold;
  font-size: 30px
}
#buttonmap{
  font-family: 'Courier New', Courier, monospace; 
  color: darkslategray;
  font-size: 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: beige;
  font-weight: bold
}

#competitor{
  background-color: beige;
  margin-top: 150px
}
#textcolorcompetitor{
color: beige;
font-weight: bold;
font-size: 30px
}
#buttoncompetitor{
font-family: 'Courier New', Courier, monospace; 
color: darkslategray;
font-size: 30px;
margin: 10px;
border: none;
outline: none;
background-color: beige;
font-weight: bold
}

#kpi_dash{
    background-color: beige;
    margin-top: 150px
}
