body {
    margin: 0px;
    margin-right: 0px;
    background-color: beige;
    padding-left: 200px;
    padding-right: 0px;
    text-align: center
  }

.header{
    padding: 10px;
    text-align: center;
    background-color: #ddddd0;
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid gray;
    margin-right: 0px;
    width: 100%
}


.sidenav {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1; 
    top: 0px; 
    left: 0;
    background-color: #ddddd0; 
    overflow-x: hidden; 
    margin-top: 0px;
    padding-top: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 2px solid gray;
  }

  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(39, 42, 46);
    display: block;
  }
  
  
  .sidenav a:hover {
    color: lightgrey;
  }
  

.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
}

.main {
    flex: 70%;
}


#weather{
    background-color: beige
}
#population{
    background-color: beige
}
#markettrend{
    background-color: beige
}
#categories{
    background-color: beige
}
#restaurantmap{
    background-color: beige
}
#kpi_dash{
    background-color: beige
}